.popular-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: auto;
}

.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.straight-line {
  border-bottom: 3px solid black;
  width: 153px;
  margin-top: 10px;
}
