.navbar {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  /* justify-content: center; */
  /* gap: 20px; */
  box-shadow: 1px 1px #bac5c9;
}
.image-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.image-logo p {
  font-size: 25px;
  font-weight: 700;
}

.nav-menu {
  /* display: flex; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}

.login-btn {
  display: flex;
  align-items: center;
}

.cart-logo {
  display: flex;
  align-items: center;
}

.cart-logo img {
  height: 30px;
  width: 30px;
}

.btn-login {
  padding: 10px 25px 10px 25px;
  outline: none;
  border-radius: 23px;
  border: 1px solid black;
  font-size: 14px;
}

.cart-login {
  display: flex;
  gap: 29px;
}

a {
  color: black;
  text-decoration: none;
}

a.active {
  color: black;
  text-decoration-line: underline;
}
