.card-outer-container {
  padding: 10px;
  cursor: pointer;
}

.card-outer-container img {
  height: 230px;
}

.product-details {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}

.image-div {
  display: flex;
  justify-content: center;
}

.remove-from-cart {
  background-color: rgb(247 197 6);
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
}
